.title{
  color:var(--rose-900);
  font-size: 2.5em;
  font-weight: 700;
}

.main{
  display: flex;
  flex-direction: row;
}
.product-items{
  max-width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.product-item {
  display: flex;
  flex-direction: column;
}
