
<article class="item">
  <div class="item-photo">
    <img class="item-img" [src]="product.image.desktop" [alt]="product.image.desktop.slice(6,-12).replace('-',' ')" width="220px">
    <div class="quantity-control" *ngIf="isAddedToCart">
      <button (click)="decrementQuantity()"><span class="decrement">-</span></button>
      <span class="quantity">{{ quantity }}</span>
      <button (click)="incrementQuantity()"><span class="increment">+</span></button>
    </div>
    <div class="cart-controls">
      <button *ngIf="!isAddedToCart" (click)="addToCart()"><img src="icon-shopping-and-commerce.png">Add to Cart</button>
    </div>
  </div>
  <div class="item-resume">
    <p class="item-name">{{product.category}}</p>
    <p class="item-description">{{product.name}}</p>
    <p class="item-price">${{product.price.toFixed(2)}}</p>
  </div>
</article>
