.cart-controls button{
  color: var(--rose-900);
  background-color: white;
  border:1px solid var(--rose-400);
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 12px;
  position: absolute;
  z-index: 1;
  top:88%;
  left:20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.quantity-control{
  display: flex;
  align-items: center;
  align-content: space-between;
  background-color: var(--red);
  border-radius: 30px;
  position: absolute;
  z-index: 1;
  top:88%;
  left:20%;
  padding: 5px 20px;
  color: white;
}

.quantity-btn button{
  border-radius: 30px;
  cursor: pointer;
}

.quantity-control button .increment{
  font-size: 1.5em;
  color: white;
  background-color: var(--red);
  padding-left: 1em;
  cursor: pointer;
}
.quantity-control button .decrement{
  font-size: 1.5em;
  color: white;
  background-color: var(--red);
  padding-right: 1em;
  cursor: pointer;
}

.item{
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 500;
  margin-top: 2em;
}

.item-photo{
  position: relative;
}

.item-img{
  border-radius: 8px;
}

.item button img{
  padding-right: 5px;
  width: 1.5em;
  filter: brightness(0) saturate(100%) invert(36%) sepia(51%) saturate(2000%) hue-rotate(355deg) brightness(97%) contrast(92%);
}

.item-resume{
  padding-top: 30px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.item-name, .item-description, .item-price {
  padding-top: 0.25em;
}
.item-name{
  color: var(--rose-400);
}

.item-description{
  color: var(--rose-900);
}

.item-price {
  color: var(--red);
}

