/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body{
  font-family: 'Red Hat Text', sans-serif;
}

:root{
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);
  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
}

.main {
  margin: 4vw;
  background-color: var(--rose-100);
}

/* Tablet breakpoint (optional, for a smoother transition) */
@media screen and (min-width: 600px) {
  .product-items {
    grid-template-columns: repeat(2, 1fr); /* Two columns for medium-sized screens */
  }
}

/* Desktop breakpoint */
@media screen and (min-width: 1440px) {
  .product-items {
    grid-template-columns: repeat(3, 1fr); /* Three columns for desktop */
    max-width: 1440px; /* Limit the maximum width */
    margin: 0 auto; /* Center the grid if the screen is wider than 1440px */
  }
}
